:root {
    --mnCl: #2196f3;
    --gr: #009688;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: 'Open Sans', sans-serif;
    /* user-select: none; */
}

::-webkit-scrollbar {
    width: 9px
}

::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    margin: -4px 0
}

::-webkit-scrollbar-thumb {
    background-color: var(--gr);
    border-radius: 7px
}
#cntnr {
    /* continer finch */
    background-color: #7473739e;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-size: cover;
    z-index: 1
}

.dvPlc {
    width: 50%;
    top: 20%;
    left: 25%;
    position: fixed;
    z-index: 2;
    background-color: white;
    border-radius: 7px;
    overflow-y: visible;
    transition: .3s;
    border: 3px solid var(--gr);
    text-align: center;
    transform: scaleY(1)
}

.hidplac,
.opPlc {
    transform: scaleY(0)
}

.opPlc {

    transition: 0s
}

#hid {
    font-size: 5vh;
    color: #302e2ed9;
    float: right;
    display: block;
    cursor: pointer;
    margin: 2% 15px 0px
}

#gmOvr {
    color: #d70000;
    font-size: 50px;
    display: none;
    padding: 35px;
    font-weight: bold
}

.divCng {
    font-size: 35px;
    display: none;
    padding: 15px;
    border-radius: 0 0 7px 7px;
    font-weight: bold
}

.divCng span {
    color: var(--gr)
}

.nwWord {
    display: none;
    font-size: 5vh;
    margin-top: 2vh
}

.gmNm {
    font-size: 27px;
    padding: 15px;
    display: none
}

.inpAdd {
    font-size: 4vh;
    display: inline-block;
    text-align: center;
    margin: 4vh auto;
    width: 70%;
    caret-color: var(--mnCl);
    padding: 0px;
    color: var(--mnCl);
    border: none;
    border-bottom: 2px solid var(--mnCl);
    transition: .3s
}

.inpAdd:focus {
    padding: 7px 7px;
    width: 75%
}

.nofcs:focus {
    outline: none
}

.inpAdd+span {
    font-size: 4vh;
    display: inline-block;
    position: absolute;
    margin-top: 4vh;
    color: #2196f396;
    z-index: -1;
    left: 5%;
    width: 90%;
    transition: .3s
}
.inpAdd:focus+span {
    margin-top: calc(4vh + 7px);
}

.okbtn {
    display: block;
    color: white;
    width: fit-content;
    font-size: 4vh;
    background: var(--mnCl);
    margin: 2vh auto 3vh;
    padding: 5px 20px;
    border: 1px;
    border-radius: 5px;
    cursor: pointer
}

.dblbtn {
    display: initial;
    margin: 5vh 7px 3vh
}

.ch {
    font-size: 25px;
    margin: 5px
}

.ch input {
    width: 15px;
    height: 15px
}

.game {
    background-color: #eee;
    min-height: 100vh
}

.container {
    margin: auto;
    max-width: 900px
}

.name {
    background-color: var(--mnCl);
    color: white;
    padding: 30px;
    font-size: 55px;
    text-align: center;
    font-weight: bold
}

.msg {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    margin: 5px 0
}

.msg span {
    font-weight: bold;
    color: var(--gr)
}

.gmr {
    cursor: pointer;
    margin-right: 25px
}

.control {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    border-radius: 6px
}

.control span {
    font-weight: bold;
    color: var(--gr)
}

.shoTime {
    color: var(--gr);
    font-size: 15px;
    border-radius: 4px;
    text-align: center
}

.shoTime:focus {
    border: 1px solid var(--mnCl);
    outline: var(--mnCl) solid 1px
}

.cntTm {
    margin: -4px 15px 0;
    background-color: #00968847
}

.cntTm div {
    background-color: var(--gr);
    width: 100%;
    height: 4px;
    border-radius: 2px
}
.start {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: var(--gr);
    color: white;
    padding: 30px;
    margin: 20px 30%;
    cursor: pointer;
    border-radius: 6px
}

.wrds {
    background-color: white;
    margin: 15px 0;
    padding: 15px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 6px
}

.wrds div {
    margin: 0 10px;
    text-align: center
}

.wrds div p {
    margin: 10px;
    color: var(--gr);
    font-size: 20px;
    cursor: pointer
}

.wrd {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: var(--mnCl)
}

.input {
    margin: 15px 0;
    width: 100%;
    display: block;
    padding: 15px;
    border: 3px solid var(--mnCl);
    font-size: 20px;
    text-align: center;
    border-radius: 6px;
    caret-color: var(--mnCl)
}

.upcoming {
    background-color: white;
    /*position: relative;*/
    margin: 15px 0;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.upcoming div {
    /*display: inline-block;*/
    transition: 0.2s;
}
.hdDv {
    transform: scale(0);
}
.adDv {
    transform: scale(1);
}
.upcoming p {
    background-color: var(--mnCl);
    color: white;
    font-weight: bold;
    margin: 4px;
    padding: 10px;
    text-align: center;
    border-radius: 6px
}

.cnNbAdd {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.add {
    color: var(--gr);
    margin: auto 10px 3px;
    padding: 15px 17px 0;
    font-size: 38px;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    width: 230px
}

.name2 {
    font-size: 34px;
    padding: 17px;
    border-radius: 10px 10px 0 0
}

.name2 span {
    margin: 1px 15px
}

#nmbWrd {
    color: var(--mnCl)
}

.lngs {
    font-size: 25px;
    padding: 8px 10px;
    width: auto;
    margin: 11px 5px -5px
}

.nbWrd {
    cursor: alias;
}

.upcoming span {
    margin: 0 5px;
}

.hidWrd {
    float: right;
    font-size: 17px;
    color: white;
    cursor: pointer
}

.aldlt {
    text-align: center;
    padding: 10 px auto -4px;
    color: red;
    width: 100%;
}

@media (max-width: 700px) {
    .dvPlc {
        width: 90%;
        top: 10%;
        left: 5%;
    }
    .hidWrd {
        font-size: 20px;
    }
    .name {
        font-size: 35px;
        padding: 25px
    }

    .start {
        font-size: 25px;
        padding: 20px;
        margin: 15px 30%
    }

    .add {
        font-size: 20px;
        margin: 0 3px 17px;
        width: 154px;
        text-align: center
    }

    .wrd {
        font-size: 25px
    }

    .lngs {
        font-size: 19px;
        padding: 6px 6px;
        margin: auto
    }

    .upcoming {
        margin: -16px 0
    }

    .aldlt {
        margin-bottom: 10px;
        width: 100%;
    }
}

.clClvu {
    display: none;
    width: 90%;
    height: 90%
}
#plWt {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: 5px;
    border-radius: 50%;
    border: 5px solid var(--gr);
    transition: transform 0.3s;
    border-left-color: transparent;
    animation-name: spin;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: none;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.n {
    display: none
}
